@font-face {
    font-family: 'eliantoregular';
    src: url('Fonts/Elianto/elianto-regular-webfont.woff2') format('woff2'),
         url('Fonts/Elianto/elianto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html, body {
    background-color : #000000;
    height : 90%;
    width : 90%;
}
#sun {
    background-color : #2d7ddc;
    box-shadow:
      inset 0 0 50px #fff,
      inset 20px 0 80px #f0f,
      inset -20px 0 80px #0ff,
      inset 20px 0 300px #f0f,
      inset -20px 0 300px #0ff,
      0 0 30px #fff,
      -10px 0 40px #f0f,
      10px 0 40px #0ff;
    margin-top : -100px;
    margin-left : -100px;
    left : 47.5%;
    border-radius: 20px;
    height : 200px;
    position : absolute;
    top : 45%;
    width : 300px;
    height: 300px;
    z-index: 6;
}
#earth-orbit {

    border: 2px solid #373737;
    border-radius: 50%;
    left: 50%;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;
    position: absolute;
    top: 50%;
    width: 500px;
    -webkit-animation: spin-right 10s linear infinite;
    -moz-animation: spin-right 10s linear infinite;
    -ms-animation: spin-right 10s linear infinite;
    -o-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;
}
#moon-orbit {
    border-radius: 50%;
    left: 50%;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;
    position: absolute;
    top: 50%;
    width: 500px;
    transform: rotate(360deg);
    transform-origin: 50% 100%;
}

#earth {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 30px #fff,
    -10px 0 40px #f0f,
    10px 0 40px #0ff;
    transition: all 0.2s ease-in-out;
    background-color : #2d7ddc;
    border-radius : 50px;
    margin-left : -25px;
    margin-top : -25px;
    height : 50px;
    left : 50%;
    position : absolute;
    top : 0%;
    width : 50px;
}
#earth2{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow:
      inset 0 0 50px #fff,
      inset 20px 0 80px #f0f,
      inset -20px 0 80px #0ff,
      inset 20px 0 300px #f0f,
      inset -20px 0 300px #0ff,
      0 0 30px #fff,
      -10px 0 40px #f0f,
      10px 0 40px #0ff;
      transition: all 0.2s ease-in-out;
      background-color : #2d7ddc;
      border-radius : 50px;
      margin-left : -25px;
      margin-top : -25px;
      height : 50px;
      right: 50%;
      position: absolute;
      bottom: -5%;
      width: 50px;
}
.moon-holder {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    -webkit-animation: spin-right 5s linear infinite;
    -moz-animation: spin-right 5s linear infinite;
    -ms-animation: spin-right 5s linear infinite;
    -o-animation: spin-right 5s linear infinite;
    animation: spin-right 5s linear infinite;
}
/* #moon {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 30px #fff,
    -10px 0 40px #f0f,
    10px 0 40px #0ff;
    transition: all 0.2s ease-in-out;
    background-color : #b2b2b2;
    border-radius : 50px;
    margin-left : -25px;
    margin-top : -25px;
    height : 16px;
    left : 43%;
    position : absolute;
    top : 0%;
    width : 16px;
    -webkit-animation: spin-right 10s linear infinite;
    -moz-animation: spin-right 10s linear infinite;
    -ms-animation: spin-right 10s linear infinite;
    -o-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;
} */
@-webkit-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spin-right {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-keyframes spin-right {
    100% {
        transform: rotate(360deg);
    }
}
#username{
  border: none;
  background-color: #2d7ddc;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 30px #fff,
    -10px 0 40px #f0f,
    10px 0 40px #0ff;
    z-index: 5;
    margin: 40px;
    height: 40px;
    width: 220px;
    text-indent: 10px;
    font-family:eliantoregular;
    border-radius: 20px;
}
#password{
  border: none;
  background-color: #2d7ddc;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 30px #fff,
    -10px 0 40px #f0f,
    10px 0 40px #0ff;
    z-index: 5;
    margin-left: 40px;
    height: 40px;
    width: 220px;
    text-indent: 10px;
    font-family:eliantoregular;
    border-radius: 20px;
}
#enterButton {
  border: none;
  background-color: #2d7ddc;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 30px #fff,
    -10px 0 40px #f0f,
    10px 0 40px #0ff;
    z-index: 4;
    margin-left: 65px;
    margin-top: 40px;
    height: 40px;
    width: 180px;
    text-indent: 10px;
    font-family:eliantoregular;
    border-radius: 20px;
    cursor: pointer;
}
.alert {
  margin-left: 25%;
  margin-top: 10%;
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  font-family: eliantoregular;
  background-color: #2d7ddc;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 30px #fff,
    -10px 0 40px #f0f,
    10px 0 40px #0ff;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
