@font-face {
    font-family: 'eliantoregular';
    src: url('Fonts/Elianto/elianto-regular-webfont.woff2') format('woff2'),
         url('Fonts/Elianto/elianto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aileronsregular';
    src: url('Fonts/Al/ailerons-regular-webfont.woff2') format('woff2'),
         url('Fonts/Al/ailerons-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'anuratiregular';
    src: url('Fonts/anurati-webfont.woff2') format('woff2'),
         url('Fonts/anurati-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.enter {
  color: #ffffff;
  font-size: 30px;
  font-family: eliantoregular;
  text-align: center;
  margin-top: 26%;
}

body {
  background-color: black;
}
.container {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 30px #fff,
    -10px 0 40px #f0f,
    10px 0 40px #0ff;
    transition: all 0.2s ease-in-out;
}
.container:hover{
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: rotate(3deg);
  transform: rotate(0.3rad);
  transform: rotate(3grad);
  transform: rotate(.03turn);
   box-shadow:
     inset 0 0 50px #fff,
     inset 20px 0 80px #f0f,
     inset -20px 0 80px #0ff,
     inset 20px 0 300px #f0f,
     inset -20px 0 300px #0ff,
     0 0 50px #fff,
     -10px 0 80px #f0f,
     10px 0 80px #0ff;
}
.text {
  font-family: eliantoregular;
  font-size: 70px;
  color: #ffffff;
  text-align: center;
  margin-top: 10%;
  text-shadow: 10px 0 40px #0ff, 0 0 20px #000000, -10px 0 40px #f0f, 0 0 30px #fff, -20px 0 70px #0ff, -20px 0 70px #0ff, -20px 0 70px #0ff, 20px 0 80px #f0f;
  text-shadow: 0 0 50px #fff, 20px 0 80px #f0f, -20px 0 80px #0ff, 20px 0 70px #f0f, -20px 0 70px #0ff,    0 0 50px #fff,    -10px 0 80px #f0f,10px 0 80px #0ff ;
}
.text:hover{
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;

}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@-webkit-keyframes glow {
from {
text-shadow: 10px 0 40px #0ff, 0 0 20px #000000, -10px 0 40px #f0f, 0 0 30px #fff, -20px 0 100px #0ff, -20px 0 100px #0ff, -20px 0 100px #0ff, 20px 0 80px #f0f;
}
to {
text-shadow: 20px 0 80px #f0f, -20px 0 80px #0ff, 20px 0 100px #f0f, -20px 0 100px #0ff,    0 0 50px #fff,    -10px 0 80px #f0f,10px 0 80px #0ff ;
}
